/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap"); */

/* .nav {
  background-color: #d0691c;
  width: 100%;
} */

/* .nav .logo {
  font-family: "Racing Sans One", cursive;
  font-size: 25px;
  text-align: center;
} */

/* .nav .nav-link {
  color: #fff !important;
} */

/* .main svg {
  display: block;
}

.main {
  font-size: 50px;
  background-color: #efb150;
}

.text-section {
  margin-top: 150px;
  text-align: center;
}
.text-section h1 {
  font-size: 45px;
}

.text-section p {
  font-size: 19px;
  margin-top: 15px;
}
.image-section {
  margin-top: 120px;
}

.image-section img {
  width: 100%;
  height: auto;
}

.btn {
  margin: 15px;
  border-radius: 20px !important;
}

.btn .btn-1 {
  background-color: #d0691c;
  color: #fff;
}
.btn .btn-2 {
  border-color: #000000;
  color: #000000;
}
.btn .btn-1:hover {
  background-color: #bb5d15;
  color: #fff;
}

.btn .btn-2:hover {
  background-color: #d0691c;
  border-color: #d0691c;
  color: #fff;
  transition: ease-in-out 0.2s;
}

.icon-arrow {
  color: #000000;
} */
